<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/email.css">
</head>
<body>
    <h1>
        SEND AN EMAIL
    </h1>
    {{ email_form.media }}
    <form action ="{% url 'send_email' %}" method="post">
        {% csrf_token %}
        <table>
{#            {{ email_form.as_p }}#}
            <tr class="first_fields">
                <td>{{ email_form.subject }}</td>
            <tr class="first_fields">
                <td>{{ email_form.to_email }}</td>
            </tr>
            <tr>
                <td>
                    {{ email_form.content }}
                </td>
            </tr>
            <tr class="buttons">
                <th class="submit-btn"><input type="submit" value="Send Mail"></th>
                <th class="clear-btn"><input type="reset" value="Clear Fields"></th>
            </tr>
        </table>
    </form>

</body>
</html>